<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434364025032-ng7gpn2bks9128u8n2pg5qu47gqhuq43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434364025032-ng7gpn2bks9128u8n2pg5qu47gqhuq43</string>
	<key>API_KEY</key>
	<string>AIzaSyBE6ONmBQTxgY0AeIBbQYI_p2Zx2pLmW_M</string>
	<key>GCM_SENDER_ID</key>
	<string>434364025032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doublejbs.useless</string>
	<key>PROJECT_ID</key>
	<string>lessismore-7e070</string>
	<key>STORAGE_BUCKET</key>
	<string>lessismore-7e070.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434364025032:ios:6fd48c85190bbc544dbdfd</string>
</dict>
</plist>